<!doctype html>
<html lang="en" ng-app="NarrowItDownApp">
  <head>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
    <script src="angular.min.js"></script>
<script src="app.js"></script>
  </head>
<body>
   <div class="container" ng-controller="NarrowItDownController as narrowed">
    <h1>Narrow Down Your Chinese Menu Choice</h1>

    <div class="form-group">
      <input type="text" ng-model="narrowed.term" placeholder="search term" class="form-control">
    </div>
    <div class="form-group narrow-button">
      <button class="btn btn-primary" ng-click="narrowed.NarrowItDownClick()">Narrow It Down For Me!</button>
    </div>
    <div class="form-group col-lg-12 col-sm-12 col-xs-12" ng-if='narrowed.filteredItems.length>0'>
      <found-Items narrowed-items='narrowed.filteredItems' on-remove='narrowed.removeItem(index)'></found-Items>
    </div>
    <div class="form-group col-lg-12 col-sm-12 col-xs-12" ng-if='narrowed.showNothingFoundMessage==1'>
      <span>Nothing found!</span>
    </div>
    <!-- found-items should be implemented as a component -->
    <!-- <found-items found-items="...." on-remove="...."></found-items> -->
  </div>

</body>
</html>
